

h1 {
    background-color: #e85d04;
    font-style: italic;
    
    
    

}

body{
    background-color: #a5a58d;

}



.parent {
    background-color: #a5a58d;

    

}

@media (max-width: 1250px) {
    body {
    background-color: #f1faee;
}
}

